﻿<ion-view title="All Ideas">
    <div class=popup-overlay ng-show="loading==1">
        <h1>Loading...</h1>
    </div>
    <ion-content>
        <div class="row header">
            <!--<div class="col"></div>-->
            <div class="col stopOverflow"><b>Title</b></div>
            <div class="col stopOverflow"><b>Site</b></div>
            <div class="col stopOverflow"><b>Sub By</b></div>
        </div>
            <div class="row item" collection-repeat="idea in ideas" ng-click="selectIdea(idea.id)">
                <!--<div class="col"><i class="icon icon ion-information"></i></div>-->
                <div class="col stopOverflow">{{idea.title}}</div>
                <div class="col stopOverflow">{{idea.site}}</div>
                <div class="col stopOverflow">{{idea.subBy}}</div>
            </div>
    </ion-content>
</ion-view>
