﻿<ion-view title='Edit'>
    <ion-content>
        <div class = popup-overlay ng-show="loading==1">
            <h1>Loading...</h1>
        </div>
        <ul class="row tab">
            <li class="col" id="tab0"><a href="javascript:void(0)" class="tablinks" ng-click="selectTab(0)" ng-class="tab == 1 ? 'tabLinks-focus' : ''">Idea Form</a></li>
            <li class="col" id="tab1"><a href="javascript:void(0)" class="tablinks" ng-click="selectTab(1)" ng-class="tab == 2 ? 'tabLinks-focus' : ''">Attachments</a></li>
        </ul>

        <div class="list" ng-show="tab == 0">

            <ion-item class="item item-input">
                <label class="input-label">Idea Title:</label>
                <input type="text" placeholder="Idea Title" ng-model="idea.title" ng-init="idea.title = idea.title || ''">
            </ion-item>

            <ion-item class="item item-input ">
                <!--<span class="input-label item-stacked-label">Idea:</span>-->
                <label class="item-stacked-label">Idea:</label>
                <!--<input type="text" placeholder="Current State" ng-model="idea.content" ng-init="idea.currentState = idea.content || ''">-->
                <textarea rows="8" placeholder="Idea here" style="margin-left:29vw" ng-model="idea.ideaContent">
                </textarea> 
            </ion-item>

            <!--<ion-item class="item item-input ">
                <span class="input-label">Improved State:</span>
                <input type="text" placeholder="Improved State" ng-model="idea.improvedState" ng-init="idea.improvedState = idea.improvedState || ''">
            </ion-item>-->

            <ion-item class="item item-input ">
                <span class="input-label">Keywords:</span>
                <input type="text" placeholder="Keywords" ng-model="idea.Keywords" ng-init="idea.Keywords = idea.Keywords || ''">
            </ion-item>

            <!--<ion-item class="item item-input ">
                <span class="input-label">Process Type:</span>
                <select ng-options="processType for processType in processTypes" ng-model="idea.processType" ng-init="idea.processType = idea.processType || ''"></select>
            </ion-item>

            <ion-item class="item item-input ">
                <span class="input-label">Product Type:</span>
                <select ng-options="productType for productType in productTypes" ng-model="idea.productType" ng-init="idea.productType = idea.productType || ''"></select>
            </ion-item>

            <ion-item class="item item-input ">
                <span class="input-label">Site:</span>
                <select class="form-control" ng-options="site for site in sites" ng-model="idea.site" ng-init="idea.site = idea.site || ''"></select>
            </ion-item>

            <ion-item class="item item-input ">
                <span class="input-label">Approver:</span>
                <input type="text" placeholder="Approver" ng-model="idea.approver" ng-init="idea.approver = idea.approver || ''">
            </ion-item>-->

            <!--<ion-item class="item-body">
                <span class="item-stacked-label" stacked>Business Drivers:</span>
                <ion-checkbox ng-repeat="(key, value) in idea.drivers"  ng-model="idea.drivers[key]" checked="{{value}}" /> {{key}}
            </ion-item>-->

            <ion-item class="item item-input ">
                <span class="input-label">Comment:</span>
                <input type="text" placeholder="Comment" ng-model="idea.Comment" ng-init="idea.Comment = idea.Comment || ''">
            </ion-item>

            <!--<div>
                <button class="button button-positive" ng-click="saveNewIdea()">Save</button>
                <button class="button button-positive" ng-click="saveIdeaForApproval()">Save For Approval</button>
                <button class="button button-positive" ng-click="cancel()">Cancel</button>
            </div>-->
        </div>

        <div ng-show="tab == 1" class="smallMargin">
            <h4><b>Images</b></h4>
            <button class="button button-positive button-small btn-image" ng-click="futureFeature()">Select Photo</button>
            <!--<button class="button button-positive button-small btn-image" ng-click="uploadImage()">Upload Photo</button>-->

            <!--<p ng-if="showImageName">{{image.name}}</p>

            <img  ng-src={{image.url}} ng-if="showImageName" style="margin:auto;">-->

            <div class="row header">
                <div class="col">Created By</div>
                <div class="col">Date Created</div>
            </div>
            <ion-scroll direction="y">
                <div class="row" ng-repeat="img in images track by $index" ng-click="displayImage(img)">
                    <div class="col">{{img.createdBy}}</div>
                    <div class="col">{{img.created}}</div>
                </div>
            </ion-scroll>
            <br/><br/>

            <!--class="attachment-container"-->

            <h4><b>Documents</b></h4>

            <!--<ion-item class="item item-input ">
                <input type="file" multiple onchange="angular.element(this).scope().fileNameChanged(this)">
            </ion-item>-->

            <ion-item class="item item-input ">
                <input type="file" id="testUpload">
            </ion-item>

            <button class="button button-positive button-small" ng-click="futureFeature()" style="float:right;">Get Document</button>
            <div class="row header">
                <div class="col">Title</div>
                <div class="col">Created By</div>
                <div class="col">Date Created</div>
            </div>

            <ion-scroll direction="y" id="my-ideas">
                <div class="row" ng-repeat="doc in documents track by $index">
                    <div class="col">{{doc.document.name}}</div>
                    <div class="col">{{doc.createdBy}}</div>
                    <div class="col">{{doc.created}}</div>
                </div>
            </ion-scroll>

            <br /><br/>

            <h4><b>Links</b></h4>
            <ion-item class="item item-input ">
                <ion-label class="input-label">Title:</ion-label>
                <input type="text" placeholder="" ng-model="link.title">
            </ion-item>

            <ion-item class="item item-input ">
                <ion-label class="input-label">URL:</ion-label>
                <input type="text" placeholder="" ng-model="link.url">
            </ion-item>
            <button class="button button-positive button-small" ng-click="futureFeature()" style="float:right;">Save Link</button>


            <div class="row header">
                <div class="col">Title</div>
                <div class="col">Url</div>
            </div>
            <ion-scroll direction="y" id="my-links">
                <div class="row" ng-repeat="link in links track by $index">
                    <div class="col">{{link.title}}</div>
                    <div class="col">{{link.url}}</div>
                </div>
            </ion-scroll>
        </div>
        <div class="smallMargin">
            <button class="button button-positive  saveButton" ng-click="saveAll()">Save</button>
            <button class="button button-positive"  style="width:66%" ng-click="saveIdeaForApproval()">Save For Approval</button><br/><br/>
            <button class="button button-positive saveButton" ng-click="cancel()">Cancel</button>
        </div>
    </ion-content>
</ion-view >
