﻿<ion-view title="ideaForm" class="has-header has-tabs-top">
    <ion-content>
        <ion-item class="item item-input ">
            <ion-label class="input-label">Submitted By:</ion-label>
            <input type="text" placeholder="Submitted By">
        </ion-item>

        <ion-item class="item item-input ">
            <span class="input-label">Idea Title:</span>
            <input type="text" placeholder="Idea Title">
        </ion-item>

        <ion-item class="item item-input ">
            <span class="input-label">Current State:</span>
            <input type="text" placeholder="Current State">
        </ion-item>

        <ion-item class="item item-input ">
            <span class="input-label">Improved State:</span>
            <input type="text" placeholder="Improved State">
        </ion-item>

        <ion-item class="item item-input ">
            <span class="input-label">Keywords:</span>
            <input type="text" placeholder="Keywords">
        </ion-item>

    </ion-content>
</ion-view>