﻿<ion-view view-title='Home'>
    <div class=popup-overlay ng-show="loading==1">
        <h1>Loading...</h1>
    </div>
    
    <ion-content class="smallMargin">

        <p>
        <center><img src="../www/img/IdeaLogo.jpg" width="60" height="60" /></center>
        <h4><strong>My Ideas</strong></h4>
        <span><button class="button button-positive" style="float:right;" ng-click="newIdea()">+ New Idea</button></span></p>
        <!--<button ng-click="editIdea()">Test</button>-->

        <div class="row header mid-bar">
            <div class="customCol60"><center><b>Title</b></center></div>
            <div class="customCol40"><center><b>Status</b></center></div>
        </div>
        <ion-scroll direction="y" id="my-ideas" style="max-height:32vh;">

            <div class="row item" ng-repeat="idea in ideas" ng-if="idea.subBy == '1'" ng-click="selectIdea(idea.id)">
                <div class="customCol60" style="overflow:hidden; margin-right:10px;">{{idea.title}}</div>
                <div class="customCol40" style="overflow:hidden; margin-right:10px;">{{idea.status}}</div>
            </div>
        </ion-scroll>
        <br /><br/>
        <p><h4><strong>All Ideas</strong></h4> <span><button ng-click="viewAll()" class="button button-positive" style="float:right;">View All</button></span></p>

        <div class="row header mid-bar">
            <div class="col"><b>Title</b></div>
            <div class="col"><b>Site</b></div>
            <div class="col"><b>Sub By</b></div>
        </div>
        <ion-scroll id="all-ideas" class="container">

            <div class="row item" collection-repeat="idea in ideas" ng-click="selectIdea(idea.id)">
                <div class="col stopOverflow">{{idea.title}}</div>
                <div class="col stopOverflow">{{idea.site}}</div>
                <div class="col stopOverflow">{{idea.subBy}}</div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>