﻿/* Empty. Add your own CSS if you like */
.container {
    height: 29vh;
    max-height:35vh;
}

.attachment-container {
    padding:10px;
    height:20vh;
    max-height:20vh;
}

.header {
    background-color:#F1F7FB;
}

.btn-image {
    float:right;
    padding:0px !important;
    margin:0px !important;
    /*width:50% !important;*/
}

.header-item {
    color: white !important;
}

ion-header-bar {
    background-color: rgb(0,51,102) !important;
    color: white !important;
}

.item:hover {
    background-color:lightblue;
    border:none;
}

tabLinks-focus {
    background-color:blue;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.smallMargin{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Change background color of links on hover */
/*ul.tab li a:hover {background-color: #ddd;}*/

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.popup-overlay {
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    background:rgba(169,169,169, 0.6);
    align-items:center;
    justify-content:center;
    margin:0px !important;
    padding:0px !important;
    z-index: 3;
}

.tablinks{
    width:100%;
}

.saveButton{
    width:33%;
}

.allCol{
    width:45%;
}

.stopOverflow{
    overflow:hidden;
    margin-right:10px;
}

.customCol60 {
  -webkit-box-flex: .6;
  -webkit-flex: .6; .6;
  -moz-box-flex: .6;
  -moz-flex: .6;
  -ms-flex: .6;
  flex: .6;
  /*-webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;*/
  display: block;
  padding: 5px;
  width: 60%; }

.customCol40 {
  -webkit-box-flex: .4;
  -webkit-flex: .4;
  -moz-box-flex: .4;
  -moz-flex: .4;
  -ms-flex: .4;
  flex: .4;
  /*-webkit-box-flex: 1;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 1;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 1*/;
  display: block;
  padding: 5px;
  width: 40%; }

.titleicon div{
display:inline-block;
margin-bottom:10px;
}

.testBar{
  background-color: rgb(0,126,254);
}

